*{
    margin: 0;
}
body{
   
    

    header{
        position: fixed;
        z-index: 10;
        top: 0;
 right: 0;
 left: 0;

        nav{
           
            background-color: rgb(49,49,49);
            
        .phone{
            color: white;
            font-size: 1cm;
            font-weight: 500;
           
        }
        
        li{
            
            display: flex;
            justify-content: first baseline;
            align-items: center;
            i{
                color: white;
                font-size: larger;
            }
            a{
                color: white;
                font-weight: 600;
            }
        }
        span{
            i{
                color: white;
                font-size: 0.75cm;
            }
        }
    }
}
.table{
    padding-top: 100px;
    .contact{
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
        button{
            margin-right: 50px;
            padding: 8px 10px;
            border-radius: 6px;
        }
        .dieuchinh{
            display: flex;
            
            padding-bottom: 10px;
          #sapxep{
              .xep{
                  padding: 5px;
              }
              padding: 5px;
             border-radius: 4px;
          }
         }
    }
    h1{
        text-align: center;
    }
    .serch{
        width: 50%;
        position: absolute;
        top: 680px;
        left: 380px;
        
    }
    
    .add{
        display: flex;
        justify-content: center;
        align-items: center;
        .add_left{
            padding-right: 60px;
        }
    }
    .produce{
        
    display: flex;
    justify-content: center;
    margin-top: 10%;
   
    .list_produce{
       
        table{
            thead, tbody{
                th{
                    color:rgb(38, 43, 49);
                    
                    padding: 30px 60px ;
                }
            }
          
        }
    }
        
        
           
            

         
            
            
        

    }
}
    
}