* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* variables */
:root {
  --logo__size: 50px;
  --logo__color1: #9b9b9b;
  --text: #000;
  --green: #7ac64d;
  --boder: #444;
}
body {
  font-family: "Pacifico", cursive;
  font-family: "Quicksand", sans-serif;
  color: var(--text);
}
.container {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}
img {
  width: 100%;
}
section {
  padding: 7rem 0 3rem;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
  z-index: 20;
}
.nav {
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  align-items: center;
}
.logo,
.logo span {
  font-weight: 700;
}
.logo span {
  color: var(--green);
}
#cart-icon,
#admin-icon a {
  color: #000;
  font-size: var(--logo__size);
  cursor: pointer;
  margin-right: 15px;
}
#cart-icon:hover,
#admin-icon:hover a {
  color: var(--green);
}
#cart-icon {
  position: relative;
}
#cart-count {
  position: absolute;
  top: 45%;
  right: 40%;
  font-weight: 700;
  font-size: 16px;
  color: green;
}
/* cart */
.cart {
  position: fixed;
  top: 91px;
  right: -100%;
  width: 450px;
  min-height: 100vh;
  padding: 20px;
  background: #fff;
  border-left: var(--green) 15px solid;
  transition: 0.3s;
}
.cart.active {
  right: 0;
}
.cart-title {
  font-weight: 600;
  margin: 1.5rem 0;
}
.cart-title span {
  color: var(--green);
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 5px;
}
.box-content {
  display: grid;
  row-gap: 0.4rem;
}
.cart-product-price,
.cart-product-title {
  font-weight: 500;
}
.cart-product-title {
  text-transform: uppercase;
}
.cart-quantity {
  width: 4rem;
  text-align: center;
  border-radius: 5px;
}
.cart-quantity i {
  cursor: pointer;
  color: var(--green);
}
.cart-quantity span {
  font-weight: 600;
}
.cart-remove {
  font-size: 24px;
  cursor: pointer;
  color: var(--green);
}

.cart-remove:hover {
  color: orangered;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  border-top: 1px solid #000;
}
.total-title {
  font-weight: 600;
  margin-right: 10px;
}
.btn-buy {
  display: flex;
  margin: 1rem auto 0 auto;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: var(--green);
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
}
.btn-buy:hover {
  background-color: #000;
}
#cart-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
}
#cart-close:hover {
  color: orangered;
}
/* shop */
.shop {
  margin-top: 2rem;
}
.shop-title {
  font-weight: 700;
}
#product-type {
  width: 200px;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 20px;
  outline: none;
  border: var(--green) 2px solid;
  font-weight: 700;
}
.shop-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.product-box img {
  height: 250px;
  object-fit: contain;
  width: 100%;
}
.product-box {
  position: relative;
  height: 400px;
  padding: 20px 35px;
  border-radius: 20px;
  border: 3px solid var(--green);
}
.product-box .bottom {
  margin: 10px 0;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}
.product-box:hover {
  padding: 40px;
  border-radius: 20px;
  border-color: none;
  box-shadow: var(--green) 0px 1px 2px 0px, var(--green) 0px 2px 6px 2px;
  transition: 0.4s;
}
.add-cart {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 3px solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--green);
}
.product-title {
  margin-top: 10px;
}
