* {
  margin: 0;
}

body header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}
body header nav {
  background-color: rgb(49, 49, 49);
}
body header nav .phone {
  color: white;
  font-size: 1cm;
  font-weight: 500;
}
body header nav li {
  display: flex;
  justify-content: first baseline;
  align-items: center;
}
body header nav li i {
  color: white;
  font-size: larger;
}
body header nav li a {
  color: white;
  font-weight: 600;
}
body header nav span i {
  color: white;
  font-size: 0.75cm;
}
body .table {
  padding-top: 100px;
}
body .table .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}
body .table .contact button {
  margin-right: 50px;
  padding: 8px 10px;
  border-radius: 6px;
}
body .table .contact .dieuchinh {
  display: flex;
  padding-bottom: 10px;
}
body .table .contact .dieuchinh #sapxep {
  padding: 5px;
  border-radius: 4px;
}
body .table .contact .dieuchinh #sapxep .xep {
  padding: 5px;
}
body .table h1 {
  text-align: center;
}
body .table .serch {
  width: 50%;
  position: absolute;
  top: 680px;
  left: 380px;
}
body .table .add {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .table .add .add_left {
  padding-right: 60px;
}
body .table .produce {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
body .table .produce .list_produce table thead th, body .table .produce .list_produce table tbody th {
  color: rgb(38, 43, 49);
  padding: 30px 60px;
}/*# sourceMappingURL=index.css.map */